project_id             = "your-gcp-project-id"
region                 = "europe-west1"
force_destroy_resource = false
data_bucket            = "arxiv-data-bucket"
bq_dataset             = "ingestion_dataset"
categories             = "cs.CV,cs.RO"
data_dir               = "/absolute/path/to/pipeline/data"
kestra_url             = "http://localhost:8080"
kestra_username        = "admin@kestra.io"
kestra_password        = "Admin1234!"
deploy_kestra          = false   # set to true after Kestra is running
